@mixin text-fill {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-primary-color {
  border-radius: 12px;
  background: linear-gradient(
    310deg,
    #ffea71 2.43%,
    #ffbc78 24.82%,
    #f770ef 59.61%,
    #bb81ff 86.25%
  );
  background: linear-gradient(
    310deg,
    color(display-p3 1 0.9216 0.5137) 2.43%,
    color(display-p3 1 0.749 0.5137) 24.82%,
    color(display-p3 0.9031 0.4685 0.912) 59.61%,
    color(display-p3 0.6985 0.5137 1) 86.25%
  );
  box-shadow:
    0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset,
    0px 4px 12px 0px rgba(255, 255, 255, 0.5) inset;
  box-shadow:
    0px 4px 4px 0px color(display-p3 1 1 1 / 0.25) inset,
    0px 4px 12px 0px color(display-p3 1 1 1 / 0.5) inset;
}

.gradient-data-progress {
  background-color: $color-zeus;
  @supports (color: color(display-p3 0 0 0)) {
    background-color: color(display-p3 0.9903 0.5137 1);
  }
}

.zeus-node-gradient {
  color: #f1f0f3;
  color: color(display-p3 0.9451 0.9412 0.9529);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.55px;
  text-transform: uppercase;
  background: linear-gradient(120deg, #f5e4b3 0%, #e8c4b0 33%, #deb8e0 66%, #c5b8e8 100%);
  @include text-fill;
}

.view-more-gradient {
  color: #f1f0f3;
  color: color(display-p3 0.9451 0.9412 0.9529);
  background: linear-gradient(
    96deg,
    #bfa36b 0%,
    #ad8960 16%,
    #9c5f91 34%,
    #755a94 52%,
    #9a999b 97%
  );
  @include text-fill;
}
