@import '_variables.scss';
@import '_mixins.scss';
@import 'input.scss';
@import 'epochInfo.scss';
@import 'container.scss';
@import 'gradient.scss';
@import 'button.scss';
@import 'popup.scss';

// Reset and base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background-primary;
  @supports (color: color(display-p3 0 0 0)) {
    background: $background-primary-p3;
  }
  color: $text-primary;
  font-family: 'Rethink Sans', system-ui, sans-serif; //設置fallback
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Global styles
a {
  color: inherit;
  text-decoration: none;
  @include transition;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  &:disabled {
    cursor: not-allowed;
  }
}

input {
  border: none;
  background: none;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// Utility classes
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.header-footer-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Animation classes
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  @include transition(opacity, 0.3s);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  @include transition(opacity, 0.3s);
}

.article-container-title {
  color: $text-primary;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
